.bg-primebg {
  color: seashell;
  border: solid 1px #17a2b8;
  background-color: #17a2b8;
}

.bg-lightbg {
  color: #333;
  border: solid 0.9px #ccc;
  background-color: #f4f4f4;
}

.bg-darkbg {
  color: seashell;
  background-color: #343a40;
}

.bg-dangerbg {
  color: seashell;
  background-color: #bc3545;
}

.bg-donebg {
  color: seashell;
  background-color: #28a745;
}

.bg-goldbg {
  color: seashell;
  background-color: rgba(218, 165, 32, 0.623);
}

.text-prime {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: seashell;
  color: #17a2b8;
  font-weight: 300;
  font-size: 15px;
}

.text-pone {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: seashell;
  font-weight: 300;
  font-size: 15px;
}

.text-ptwo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: seashell;
  font-size: 13px;
  font-weight: 200;
}

.text-pthree {
  font-weight: 500;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.555);
  padding-bottom: 4px;
}

.m-1 {
  margin: 1rem;
}

.mtb-1 {
  margin: 1rem 0;
}

.p-1 {
  margin: 1rem;
}

.ptb-1 {
  margin: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.mtb-2 {
  margin: 2rem 0;
}

.p-2 {
  margin: 2rem;
}

.ptb-2 {
  margin: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.mtb-3 {
  margin: 3rem 0;
}

.p-3 {
  margin: 3rem;
}

.ptb-3 {
  margin: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.mtb-4 {
  margin: 4rem 0;
}

.p-4 {
  margin: 4rem;
}

.ptb-4 {
  margin: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.mtb-5 {
  margin: 5rem 0;
}

.p-5 {
  margin: 5rem;
}

.ptb-5 {
  margin: 5rem 0;
}

.container {
  padding: 0 1.5rem;
  margin-top: 0px;
  margin-bottom: 3rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body {
  margin-left: 0.3px;
  margin-right: 0.3px;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px transparent;
  opacity: 0.9;
  padding: 10px;
}

.navbar p a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: seashell;
  font-size: 16px;
  font-weight: 300;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
}

.navbar a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: seashell;
  font-size: 12px;
  padding-left: 6.3px;
  padding-right: 4px;
}

.navbar a:hover {
  color: rgba(218, 165, 32, 0.965);
}

nav.back {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-image: url("/asserts/img/photo.jpg");
  background-color: rgba(0, 0, 0, 0.691);
  -webkit-transition: 2s;
  transition: 2s;
}

nav.back p a {
  color: whitesmoke;
}

nav.back ul li a {
  color: whitesmoke;
}

.context {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-image: url("/asserts/img/photo.jpg");
  background-color: rgba(0, 0, 0, 0.691);
  height: 200px;
}

.context .ttpara {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.context .ttpara span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 100px;
  color: goldenrod;
  font-size: 40px;
  font-weight: bolder;
}

.context .ttpara p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: seashell;
  font-size: 11px;
  padding-top: 20px;
}

.error {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-left: red solid 3px;
  padding: 10px 5px;
  background-color: #e8f0fe;
  color: black;
}

form div input {
  border: none;
  padding: 10px;
  width: 100%;
  height: 45px;
  color: black !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

form div textarea {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: black solid 0.9px;
  width: 100%;
  height: 150px;
  border-radius: 4.5px;
  padding: 10px;
  resize: none;
  color: black;
}

form div button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: seashell;
  border: #ffa323 solid 1px;
  background-color: goldenrod;
  padding: 3px 15px;
  width: 100%;
  height: 35px;
  font-size: 15px;
  font-weight: bold;
}

form div button:hover {
  background-color: white;
  color: goldenrod;
}

.form-group {
  padding-top: 3px;
  padding-bottom: 3px;
}

.form-group input {
  border: solid 0.1px black;
}

.form-file {
  width: 100%;
  padding: 5px;
  height: 40px;
}

.form-file label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #00000096;
}

.form-file label input[type='file'] {
  color: grey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: whitesmoke;
}

.details p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 3px;
  text-align: center;
  color: rgba(0, 0, 0, 0.541);
}

.details div {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-size: 13.5px;
  padding: 5px 10px;
}

.details div a {
  color: #17a2b8;
}

.details div span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.733);
  font-size: 13.5px;
  font-weight: bold;
}

.form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-image: url("/asserts/img/bg_1.jpg");
  background-color: rgba(0, 0, 0, 0.691);
  height: 150px;
}

.btftcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btft {
  padding-left: 15px;
  padding-right: 15px;
}

.btft a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btft a img {
  width: 16px;
  margin: auto;
}

.btft a p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: seashell;
  font-size: 12px;
}

.btft a:hover {
  border-bottom: solid 0.9px rgba(218, 165, 32, 0.965);
}

.copyright {
  padding-top: 20px;
  text-align: center;
}

.copyright span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: seashell;
  font-size: 10px;
}
