$primary: #1a79b4;
$dark: #343a40;
$light: #f4f4f4;
$danger: #bc3545;
$done: #28a745;
$gold: rgba(218, 165, 32, 0.623);

@function set-color($color) {
    @if(lightness($color) > 50){
        @return #333;
    } @else{
        @return seashell;
    }
}

@mixin  set-back($color) {
    
    color: set-color(($color));
    
    
}
//compile mixins

@mixin set-text() {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: seashell;

}
@mixin set-backg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;  
    
}
@mixin font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
