@import 'config';
@import 'utilities';

//nav underline
.inst-about{
    border-bottom: #daa520 solid 1px;   
    background-color: rgba(255, 255, 255, 0.102);
    
}
//context
.context{
    background-image: url('/asserts/img/photo2.jpg');
    background-color: rgba(0, 0, 0, 0.691);       
}
nav.back{
    background-image: url('/asserts/img/photo2.jpg');
    background-color: rgba(0, 0, 0, 0.691);   
}

//site
.rating{
    width: 90px;
}

.profile-top{
    background-color:  white;
    text-align: start;
    
}
.profile-top{
    .pt-left{
        padding-right:5px;
        width: 350px;
        padding-right: 10px;
        
    }
    .pt-right{
        padding-left: 20px;
        width: 50%;
        
    }
    padding: 50px;
    
    .display{
        width: 100%;  
     
    }
    .abt-address img{
        width: 15px;
    }
    .abt-social img{
        border: white 0.0001px solid;
        padding: 2px;
        width: 20px;

        &:hover {
            background-color: rgba(51, 51, 51, 0.376);
        }
        
        
    
    }
    

}
.profile-grid{
    display: grid;
    grid-template-areas: 'top top' 'about about' 'edu exp';
    grid-gap: 0.5rem;
    

    .profile-top{
        grid-area: top;
        display: flex;
        
        

    }
    .profile-about{
        grid-area: about;
        text-align: start;
        padding: 0px 145px;
     
    }
    .profile-edu{
        grid-area: edu;
        
    }
    .profile-exp{
        grid-area: exp;
    }
}
.aboutNm{
    @include font();
    color: black;
    font-size: 21px;
    font-weight: 700;    
}
.lead{
    @include font();
    font-size: 15px;
    padding:10px 0px;
    color: black; 
    text-align: start;
    
}
.leadlist{
    padding-top: 10px;
    li{
        padding: 3px 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        a{
            color: rgba(0, 0, 0, 0.719);
            font-size: 13.5px;
            font-weight:normal;
        }
        
        span{
            @include font();
            font-style: 14px;
            font-weight: 400;
            border-right: transparent 0.9px solid;
            
            
        }
        .sprate{
            padding-right: 26px;

        }
        .spsite{
            padding-right: 54px;

        }
        .spmail{
            padding-right: 48px;

        }
    }
}

.skillspan{
    display: flex;
}
.skillset {
    ul li{
        list-style: disc;
    }
    ul {
        padding: 1rem;

        li {
            @include font();
            font-size: 13px;
            padding: 3px;
            
        }
    }
}
.paragraphs{
    font-size: 12px;
    p{
        strong{
            font-size: 12px;
        }
    }
}
.external{
    background-color: #1E5171;
    padding: 10px;
    .ext{
        ul{
            display: flex;
            justify-content: center;
        }
        ul li{
            list-style: none;
            padding: 5px 15px;
            
            a{
                @include font();
                text-decoration: none;
                background-color: #1E5171;
                padding: 5px;
                font-size: 13px;
                
                color: seashell;
                &:hover{
                    background-color: seashell;
                    color: #1E5171;
                }
            }
        }
    }
}
//desktop
@media screen and (min-width: 768px){
    .prl{
        padding-left: 10rem;
    }
    .profile-top{
        .pt-left{
            padding-right:5px;
            margin-left: 130px;
        }
    }
}
//phone
@media screen and (max-width: 768px){
    .abt-address{
        align-items: start;
    }
    .leadlist{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .profile-about{
        text-align: start;
        padding: 0px 5px !important;
     
    }
    .profile-top{
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0px;
    }
    .pt-right{
        width: 100% !important;
        text-align: start;
        .leadlist{
            text-align: start;
            padding: 15px 0px;
        }
    }
    .pt-left{
        background-color: seashell;
        width: 100% !important;       
        padding:none;
        .display{
            padding-left: 10px;
            
        }
    }
    .aboutNm{
        @include font();
        text-align: start;
        color: black;
        font-size: 21px;
        font-weight: 700;    
    }
    .lead{
        @include font();
        font-size: 15px;
        text-align: start;
        
    }
        
}
