@import 'config';
@import 'utilities';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
html body{  
    margin-left: 0.3px;    
    margin-right: 0.3px;      

}
a{
    text-decoration: none;
    
}
ul li{
    list-style: none;
}
img{
    width: 100%
}

// navbar

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px transparent;
    opacity: 0.9; 
    padding: 10px;   
    

    p{
        a{
            @include set-text();
            font-size: 16px;
            font-weight: 300;
        }
    }


    ul{
        display: flex;
        padding-right: 15px;
    }
    a{
      @include set-text();
      font-size: 12px;
      padding-left: 6.3px;
      padding-right: 4px;
      
      &:hover {
          color: rgba(218, 165, 32, 0.965);
      }
    }
}
nav.back{
    @include set-backg();
    background-image: url('/asserts/img/photo.jpg');
    background-color: rgba(0, 0, 0, 0.691);
    
    
    transition: 2s;
    p{
        a{
            color: whitesmoke;
        }
    }
    ul{
        li{
            a{
                color:whitesmoke;
            }
        }
    }

}

@media screen and (min-width: 768px){
    .navbar{
        padding-right: 150px;

        ul{
            li{
                a{
                    font-size: 15px;
                    padding-right: 20px;
                    padding-left: 20px;
                }
            }
        }
    }
}


/* Portofolio page*/
.porto-img-bg{
    background-image: url('/asserts/img/photo.jpg');
    background-color: rgba(0, 0, 0, 0.376);
    background-blend-mode: multiply;
    
    
}
.content-wrapper{
    
    .porto-items-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .porto-item-wr{
            position: relative;
            
            &:hover .porto-img-text .subtitle{
                color: white;
            }
            &:hover .porto-img-bg{
                transition: 1s;
                background-color: rgba(0, 0, 0, 0.856);
            }
            .porto-img-bg{
                height: 300px;
                width: 100%; 
                background-size: cover;
                background-position: center; 
                background-repeat: no-repeat;               
            }
            .porto-img-text{
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 100%;
                padding-left: 100px;
                padding-right: 100px;

                .img-wrapper img{
                    width: 50%;
                    margin-bottom: 20px;
                }
                .subtitle{
                    filter: brightness(100%);
                    transition: 1s;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    color: transparent;
                    
                }
            }
        }
    }
}

.bg-darken{
    transition: 1s;
    filter: brightness(30%);

}


//contact
.context{
    @include set-backg();
    background-image: url('/asserts/img/photo.jpg');
    background-color: rgba(0, 0, 0, 0.691);
    height: 200px;

    .ttpara{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        span{
            @include font();
            margin-top: 100px;
            color: goldenrod;
            font-size: 40px;
            font-weight: bolder;
        }
        p{
            @include set-text();
            font-size: 11px;
            padding-top: 20px;
            
        }
    }
}
//form

.error{
    @include font();
    border-left: red solid 3px;    
    padding: 10px 5px;
    background-color: #e8f0fe;
    color: black;      
}

form{

    div{
        input{
            border: none;
            padding: 10px;
            width: 100%;
            height: 45px;
            color: black !important;
            box-shadow: none !important;
            
                  
        }
   
        textarea{
            @include font();
            border: black solid 0.9px;
            width: 100%;
            height: 150px;
            border-radius: 4.5px;
            padding: 10px;
            resize: none;
            color: black;           

        }
        button{
            @include set-text();
            border: #ffa323 solid 1px;
            background-color: goldenrod;
            padding:3px 15px;
            width: 100%;
            height: 35px;
            font-size: 15px;
            font-weight: bold;

            &:hover{
                background-color: white;
                color: goldenrod;
            }

        }
    }
}

.form-group{
    padding-top: 3px;
    padding-bottom: 3px;
    input{
        border: solid 0.1px black;
    }
}
.form-file{
    width: 100%;
    padding: 5px;
    height: 40px;
    
    
    label{
        @include font();
        font-size: 13px;
        font-weight: 600;
        color: #00000096;

        input[type='file' ]{
            color:grey;
            @include font();                 
        }
    }
    
}
.form-details{
    display: flex;
    flex-wrap: wrap;
}
.details{
    flex: 1;
    background-color: whitesmoke;
    p{
        @include font();
        font-weight: 700;
        font-size: 18px;
        padding: 3px;
        text-align: center;
        color: rgba(0, 0, 0, 0.541);
    }
   
    div{
        @include font();
        color: rgb(0, 0, 0);
        font-size: 13.5px;
        padding: 5px 10px;
        a{
            color: $primary;
        }
        span{
            @include font();
            color: rgba(0, 0, 0, 0.733);
            font-size: 13.5px;
            font-weight: bold;
        }
    }

}

.form{
    flex: 1;
}
//footer

.footer{
    @include set-backg();
    background-image: url('/asserts/img/photo5.jpg');
    background-color: rgba(0, 0, 0, 0.691);
    height: 150px;

}
.btftcon{
    display: flex;
    padding-top: 20px;
    justify-content: center;
}
.btft{
    padding-left: 15px;
    padding-right: 15px;
    a{
        display: flex;
        flex-direction: column;
        

        
        img{
            width: 16px;
            margin: auto;
        }
        p{
            @include set-text();           
            font-size: 12px;
        }
        &:hover{
            border-bottom: solid 0.9px rgba(218, 165, 32, 0.965);
        }
    }
}
.copyright{
    padding-top:20px;
    text-align: center;
    span{
        @include set-text();
        font-size: 10px;
        
        
    }
}