@import 'config';

@media screen and (min-width: 768px){
            
    #frst_pg{
        

        .head{  
            
            .brand{
                p{
                                                        
                    @include set-text();
                    font-size: 16px;
                    padding: 5px;

                }

            }
            .left-nav{

                .nav_bar{
                
                    .nav-links{

                       /* ul{
                            li{

                            }
                        }*/
                        .navLinks{
                            li{
                                a{
                                                                
                                    @include set-text();
                                    text-decoration: none;

                                }
                            }
                        }

                    }
                    
                }
            }
            
        
            
            

             
        }
        
            
    }
        /*intermiddle section / about*/


    .about{
        .intermidmain{
            .intermidcontainer{
                .interbox{
                    
                    .allintertext{
                        //.intermidicons{}

                        
                        .intermidaddress{
                            padding-top: 30px;
                            font-size: 11px;

                        }
                        .readmore a{
                            padding-left: 10px;
                            padding-right: 10px;
                            padding-bottom: 5px;
                            padding-top: 5px;
                            border-radius: 4rem;
                            font-size: 13.5px;

                        }
                        .intermidwords{
                            p{
                                text-align: start;
                                font-size: 15px;
                                font-weight: 250;
                                padding-top: 10px;
                                padding-left: 10px;
                                width: 100%;
                               
                            }
                        }
                    }
                }
            }
        }
    }

   

}